<header class="header">Header</header>
<div class="holygrail-body">
  <div class="content">
    <p>
      <span>{{ title }} app is running!</span>
    </p>
    <div class="content-box">
      <h1>Employees</h1>
      <ul [ngPartialLoader]="!(employees$ | async)?.length">
        <li *ngFor="let employee of employees$ | async">name: {{ employee?.firstName }}</li>
      </ul>
    </div>

    <div class="content-box">
      <h1>places</h1>
      <ul
        [ngPartialLoader]="!(places$ | async)?.length"
        [loaderOptions]="{
          path: 'projects/ng-partial-loader/src/assets',
          customLoader: 'bullets.gif'
        }"
      >
        <li *ngFor="let place of places$ | async">name: {{ place?.name }}</li>
      </ul>
    </div>

    <div class="content-box">
      <h1>departments</h1>
      <ul
        [ngPartialLoader]="!(departments$ | async)?.length"
        [loaderOptions]="{
          path: '/assets/',
          customLoader: 'pulse.svg'
        }"
      >
        <li *ngFor="let department of departments$ | async">name: {{ department?.name }}</li>
      </ul>
    </div>
  </div>
  <div class="nav"></div>
  <div class="aside">Aside</div>
</div>
<footer class="footer">Footer</footer>
